# Ignore all compiled files (without extension)
array/*

# Keep C++ source and header files
!array/*.cpp
!array/*.h


# Ignore all compiled files (without extension)
number/*

# Keep C++ source and header files
!number/*.cpp
!number/*.h

# Ignore VS Code config (optional)
#.vscode/

.DS_Store

